
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="./index.html">
        <img src="./assets/img/brand/raoinfotech-logo-small.png" class="navbar-brand-img" alt="...">
      </a>
      <!-- User -->
    
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="./index.html">
                <img src="./assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
        <!-- <app-dashboard (notifyParent)="getNotification($event)"></app-dashboard> -->
        <ul class="navbar-nav" >
          <li class="nav-item active">
          <a class=" nav-link active " routerLink=""> <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/logs-summary">
              <i class="ni ni-bullet-list-67 text-red" ></i> Logs Summary
            </a>
          </li>
          <li class="nav-item" *ngIf="userInfo">
            <a class="nav-link" *ngIf=" !userInfo.userRole || userInfo.userRole == 'employee'">
              <i class="ni ni-single-02 text-yellow"></i> User profile
            </a>
            <!-- <a class="nav-link" *ngIf=" userInfo.userRole == 'admin'" routerLink="all-users">
              <i class="ni ni-single-02 text-yellow"></i> All Users 
            </a> -->
          </li>
          <li class="nav-item" *ngIf="userInfo">
            <a class="nav-link" *ngIf=" userInfo.userRole == 'admin'" routerLink="user-report">
              <i class="ni ni-single-02 text-yellow"></i> Employees Report
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        
      </div>
    </div>
  </nav>
  
  <!--   Core   -->
  

<router-outlet></router-outlet>
