 <div class="main-content" >
    <!-- Navbar -->
    <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
      <div class="container-fluid">
        <!-- Brand -->
        <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="./index.html">Logs summary</a>
        <ul class="navbar-nav align-items-center d-none d-md-flex">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                <!-- <span class="avatar avatar-sm rounded-circle">
                  <img alt="Image placeholder" src="./assets/img/theme/team-4-800x800.jpg">
                </span> -->
                <div class="media-body ml-2 ">
                  <span class="mb-0 text-sm  font-weight-bold" *ngIf="userInfo" >{{userInfo.name}}</span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
              <div class=" dropdown-header noti-title">
                <h6 class="text-overflow m-0">Welcome!</h6>
              </div>
              <a  class="dropdown-item">
                <i class="ni ni-single-02"></i>
                <span >My profile</span>
              </a>
              <div class="dropdown-divider"></div>
              <a (click)="logout()" class="dropdown-item" style="cursor: pointer;">
                <i class="ni ni-user-run"></i>
                <span >Logout</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End Navbar -->
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <!-- <div class="row m-auto">
          </div> -->
        </div>
      </div>
    </div>
    <div class="container-fluid mt--7">
      
      <div class="row mt-5 " >
        <div class="col-xl-12 mb-5 mb-xl-0">
          <div class="card ">
            <div class="card-header  border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class=" mb-0">Logs</h3>
                </div>
                <div class="col" *ngIf="userInfo.userRole == 'admin'">
                  <input class="mb-0 custom-input"  id="date1" [(ngModel)]="data.firstDate"  type="date" >
                </div>
                <div class="col" *ngIf="userInfo.userRole == 'admin'">
                  <button type="button" class="btn btn-outline-primary" (click)="getRecord()" >get Record</button>
                </div>
                <div class="col" *ngIf="userInfo.userRole == 'admin'">
                  <input class="mb-0 custom-input" placeholder="search name" id="searchName" (keyup)="searchByName(searchData)"  type="text">
                </div>
                <div class="input-daterange datepicker row align-items-center" *ngIf="userInfo.userRole != 'admin'">
                  <div class="col mt-3">
                    <div class="form-group">
                      <div class="input-group input-group-alternative">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                        </div>
                        <input style="cursor: pointer;" readonly class="form-control" id="reportrange" placeholder="search Record" type="text" value="---">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col" *ngIf="userInfo.userRole != 'admin'">
                  <i class="fas fa-redo-alt" style="cursor: pointer;" (click)="resetForm()" data-toggle="tooltip" title="Reset form"></i>
                </div>
              </div>
            </div>
            <div class="table-responsive ">
              <!-- Projects table -->
              <table class="table align-items-center ">
                <thead class="">
                  <tr>
                  	<th *ngIf="userInfo.userRole == 'admin'" scope="col">Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">day</th>
                    <th scope="col">Hours in office</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngIf="currentMonthLogs && !search">
                    <tr  *ngFor="let data of currentMonthLogs | paginate:{itemsPerPage: 10, currentPage:p}; let i = index">
                      <th scope="row"  class="nameClick" [routerLink]="['/all-users/user-detail/' ,data.userId._id]" *ngIf="userInfo.userRole == 'admin'">
                      {{ data.userId.name }}
                    </th>
                      <th scope="row">
                        {{ data.date }}
                      </th>
                      <td>
                        {{data.day}}
                      </td>
                      <td>
                        {{data.diffrence}}
                      </td>
                      <td>
                        <a  id="viewMore" (click)="openModel(10 * (p - 1) + i)"><span class="viewMore">View More</span></a>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-container *ngIf="currentMonthLogs && search">
                    <tr  *ngFor="let data of logs | paginate:{itemsPerPage: 10, currentPage:p}; let i = index">
                      <th scope="row" *ngIf="userInfo.userRole == 'admin'">
                        {{ data.userId.name }}
                      </th>
                      <th scope="row" class="text-uppercase">
                        {{ data.date }}
                      </th>
                      <td>
                        {{data.day}}
                      </td>
                      <td>
                        {{data.diffrence}}
                      </td>
                      <td>
                        <a  id="viewMore" (click)="openModel(10 * (p - 1) + i)"><span class="viewMore">View More</span></a>
                      </td>
                    </tr>
                  </ng-container>
                  <!-- <tr *ngFor="let data of currentMonthLogs | paginate:{itemsPerPage: 10, currentPage:p}; let i = index">
                    <th scope="row" *ngIf="userInfo.userRole == 'admin'">
                      {{ data.userId.name }}
                    </th>
                    <th scope="row">
                      {{ data.date }}
                    </th>
                    <td>
                      {{data.day}}
                    </td>
                    <td>
                      {{data.diffrence}}
                    </td>
                    <td>
                      <a  id="viewMore" (click)="openModel(10 * (p - 1) + i)"><span class="viewMore">View More</span></a>
                    </td>
                  </tr> -->
                </tbody>
              </table>
            </div>
            <div class="card-footer py-4 ">
            	<pagination-controls   (pageChange)="p=$event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
      <div class="row m-auto" >
        
        <div class="col-xl-6 mb-5 mb-xl-0 mt-4">
          <div class="card card-shadow card-stats mb-4 mb-xl-0">
            <div class="card-body button" data-toggle="tooltip" title="Log Attendance" style="height: 132px">
              <div class="row">
                <div class="col">
                  <h5 class="font-weight-bold text-uppercase text-muted mb-0 mt-3">Total hours completed</h5>
                </div>
                <div class="col">
                  <h5 class=" font-weight-bold text-uppercase text-muted mb-0 mt-3">Required hours to complete</h5>
                </div>
                
              </div>
              <div class="row">
                <div class="col">
                  <h3 class="card-title font-weight-bold text-uppercase text-muted mb-0 ">{{totalHoursWorked}}</h3>
                </div>
                <div class="col">
                  <h3 class="card-title font-weight-bold text-uppercase text-muted mb-0 ">{{totalHoursToWork}}</h3>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer -->
      <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
              &copy; 2019 <a href="https://raoinformationtechnology.com/" class="font-weight-bold ml-1" target="_blank">Rao Infotech</a>
            </div>
          </div>
          
        </div>
      </footer>
    </div>
  </div>



  <!-- The Modal -->
  <div class="modal fade" id="myModal" >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" *ngIf="modelValue">
          <h4 class="modal-title">{{modelValue.day}} &nbsp;-&nbsp; {{modelValue.date}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body" *ngIf="modelValue">
            <h3 align="center"><u>Time log </u></h3>
            <div class="form-group" style="overflow: auto; ; max-height: 350px">
              <table align="center" style="width: 100% " cellpadding="10px" *ngIf="modelValue">
                <tr align="center">
                  <th>No.</th> 
                  <th>In</th>
                  <th>Out</th>
                </tr>
                <tr *ngFor="let time of modelValue.timeLog ; let i = index" align="center"> 
                  <td>{{i+1}}</td>
                  <td>{{time.in}}</td>
                  <td>{{time.out}}</td>
                </tr>
              </table>
            </div>
          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>







